@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h4 class="display-6 pt-3">Welcome to</h4>
    <h1 class="display-5">Payroll Management System</h1>

    <p>Learn about code <a href="https://github.com/ashrafulIslam1/Authenticated-Payroll-System" target="_blank">Click here to get the code</a>.</p>
</div>
