@{
    ViewData["Title"] = "Privacy Policy";
}
<h1 class="text-center">@ViewData["Title"]</h1>

<br/>
<h3>There are some privacy and policies to use this website:-</h3>

<ul>
  <li>
      There will be 2 role in this system:-
      <ol>
          <li>HR</li>
          <li>Employee</li>
      </ol>
  </li>
  <li>To use this website at first you have to login.</li>
  <li>For new employee, at first HR will store the new employee record to the system.</li>
  <li>Then Employee will register an account by using those information.</li>
  <li>Then Employee must have to login to use the system.</li>
</ul>
